.App {
  font-family: sans-serif;
  text-align: center;

  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, auto);

    &.won {
      .tile, .tile.tile--set {
        background-color: gold;
      }
    }

    .tile {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      min-height: 40px;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      word-break: break-word;

      --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

      &.tile--set {
        background: rgb(16, 185, 129);
      }

      &.won {
        background-color: gold;
      }
    }

    @media (max-width: 768px) {
      grid-gap: 5px;
      padding: 5px;
      .tile {
        font-size: 12px;
      }
    }
    @media (max-width: 768px) {
      .tile {
        font-size: 9px;
      }
    }
  }

  button {
    margin-top: 50px;
    padding: 10px 20px;
    border: 0;
    background-color: rgb(16, 185, 129);
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    color: white;
  }
}